<div class="panel panel-default">
  <div class="panel-heading"><h1>Artistas</h1></div>
  <div class="panel-body">
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cidade</th>
      <th>Uf</th>
      <th>Telefone</th>
      <th>Celular</th>
      <th>Contato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.nome %></td>
        <td><%= artist.cidade %></td>
        <td><%= artist.uf %></td>
        <td><%= artist.telefone %></td>
        <td><%= artist.celular %></td>
        <td><%= artist.contato %></td>
        
        <td>
            <%= link_to 'Mostrar', artist,class:"btn btn-default btn-xs" %>
            <%= link_to 'Editar', edit_artist_path(artist),class:"btn btn-default btn-xs" %>
            <%= link_to 'Excluir', artist, method: :delete, data: { confirm: 'Tem certeza?' }, class:"btn btn-danger btn-xs" %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  <div class="panel-footer">
    <%= link_to 'Novo Artista', new_artist_path, class:"btn btn-primary" %>
  </div>
</div>    
