<div class="panel panel-default">
  <div class="panel-heading"><h1>Artista</h1></div>
  <div class="panel-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @artist.nome %>
</p>

<p>
  <strong>CPF/CNPJ:</strong>
  <%= @artist.cpfcnpj %>
</p>

<p>
  <strong>RG/IE:</strong>
  <%= @artist.rg_ie %>
</p>

<p>
  <strong>Pessoa:</strong>
  <% if @artist.pessoa == "F" %>
     <%= "Fisica" %>
  <% else %>
     <%= "Jurídica" %>
  <% end %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @artist.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @artist.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @artist.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @artist.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @artist.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @artist.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @artist.celular %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @artist.contato %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @artist.observacao %>
</p>
  </div>
  <div class="panel-footer">
    <%= link_to 'Alterar', edit_artist_path(@artist), class:"btn btn-primary" %> |
    <%= link_to 'Voltar', artists_path, class:"btn btn-primary" %>
  </div>
</div>
