<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @artist.nome %>
</p>

<p>
  <strong>Cpfcnpj:</strong>
  <%= @artist.cpfcnpj %>
</p>

<p>
  <strong>Rg ie:</strong>
  <%= @artist.rg_ie %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @artist.pessoa %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @artist.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @artist.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @artist.cidade %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @artist.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @artist.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @artist.telefone %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @artist.contato %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @artist.celular %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @artist.observacao %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
