<nav class="navbar navbar-deafult">
  <div class="container">
    <%= link_to 'Audio Organizer', root_path, class:'navbar-brand' %>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Artistas', artists_path %></li>
        <li><%= link_to 'Albuns', home_about_path %></li>
        <li><%= link_to 'Agenda', home_about_path %></li>
        <li><%= link_to 'Financeiro', home_about_path %></li>
        <li><%= link_to 'Usuários', new_user_registration_path %></li>
 
        <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
      </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to 'Log In', new_user_session_path %></li>
      </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About Us', home_about_path %></li>
      </ul>
    </div>
  </div>
</nav>


